---
layout: default
head: >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-dark.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
---
<div>
    <div
        class="inset-0 z-20 bg-gradient-to-r from-hero-gradient-from to-hero-gradient-to bg-cover bg-center bg-no-repeat h-20" style="height: 86px">
    </div>
    <div class="container py-6 md:py-10">

        <div class="mx-auto max-w-4xl">
            <div class="">

                <h1
                    class="pt-5 font-body text-3xl font-semibold text-primary sm:text-4xl md:text-5xl xl:text-6xl">
                    {{ page.title }}
                </h1>

            </div>

            <!-- Tags -->
            <div class="flex justify-end pt-10">
                {% for tag in page.tags %}
                    <a href="{{ tag.link | default: "#" }}" class="ml-2 block rounded-xl bg-primary px-4 py-1 font-body font-bold text-white hover:bg-grey-20">{{ tag.display }}</a>
                {% endfor %}
            </div>

            <!-- Content -->
            <div class="prose max-w-none pt-8">
                {{ content }}
            </div>

            <!-- Author -->
            <div class="flex items-center pt-5 md:pt-10">
                <div>
                    <img src="/assets/img/author.png"
                        class="h-20 w-20 rounded-full border-2 border-grey-70 shadow"
                        alt="author image" />
                </div>
                <div class="pl-5">
                    <span class="block font-body text-xl font-bold text-grey-10">by {{ site.author.fullname }}</span>
                    <span class="block pt-1 font-body text-xl font-bold text-grey-30">{{ page.date | date_to_string }}</span>
                </div>
            </div>            

            <!-- Previous / next -->
            <div class="mt-10 flex justify-between py-12">
                {% if page.previous.url %}
                    <a href="{{ page.previous.url | replace: ".html", "" }}" class="flex items-center">
                        <i class="bx bx-left-arrow-alt text-2xl text-primary"></i>
                        <span
                            class="block pl-2 font-body text-lg font-bold uppercase text-primary md:pl-5">Previous
                            Post</span>
                    </a>
                {% else %}
                    <a href="#" class="flex items-center" style="cursor: default; pointer-events: none;">
                        <i class="bx bx-left-arrow-alt text-2xl text-grey-30"></i>
                        <span
                            class="block pl-2 font-body text-lg font-bold uppercase text-grey-30 md:pl-5">Previous
                            Post</span>
                    </a>
                {% endif %}
                {% if page.next.url %}
                    <a href="{{ page.next.url | replace: ".html", "" }}" class="flex items-center">
                        <span class="block pr-2 font-body text-lg font-bold uppercase text-primary md:pr-5">Next
                            Post</span>
                        <i class="bx bx-right-arrow-alt text-2xl text-primary"></i>
                    </a>
                    {% else %}
                    <a href="#" class="flex items-center" style="cursor: default; pointer-events: none;">
                        <span class="block pr-2 font-body text-lg font-bold uppercase text-grey-30 md:pr-5">Next
                            Post</span>
                        <i class="bx bx-right-arrow-alt text-2xl text-grey-30"></i>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</div>